name: SwiftLint
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Full git history is needed to get a proper list of changed files
          fetch-depth: 0
      - name: Lint
        uses: norio-nomura/action-swiftlint@3.2.1
        with:
          args: --strict
