name: Cocoapods
on: [pull_request]
jobs:
  lint-Insights:
    runs-on: macos-12
    steps:
     - uses: actions/checkout@v4
     - name: Select Xcode version
       run: sudo xcode-select -s '/Applications/Xcode_14.2.app/Contents/Developer'
     - name: lint Insights
       run: pod lib lint --subspec="Insights" --allow-warnings
  lint-Core:
    runs-on: macos-12
    steps:
     - uses: actions/checkout@v4
     - name: Select Xcode version
       run: sudo xcode-select -s '/Applications/Xcode_14.2.app/Contents/Developer'
     - name: lint Core
       run: pod lib lint --subspec="Core" --allow-warnings
  lint-UI:
    runs-on: macos-12
    steps:
     - uses: actions/checkout@v4
     - name: Select Xcode version
       run: sudo xcode-select -s '/Applications/Xcode_14.2.app/Contents/Developer'
     - name: lint UI
       run: pod lib lint --subspec="UI" --allow-warnings
  lint-SwiftUI:
    runs-on: macos-12
    steps:
     - uses: actions/checkout@v4
     - name: Select Xcode version
       run: sudo xcode-select -s '/Applications/Xcode_14.2.app/Contents/Developer'
     - name: lint SwiftUI
       run: pod lib lint --subspec="SwiftUI" --allow-warnings
